@import './variables.css';
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

@font-face {
    font-family: octopus;
    src: url('../assets/fonts/Octopus Game.otf') format('opentype'),
         url('../assets/fonts/Octopus Game.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    min-width: 320px;
    min-height: 100vh;

    font-family: "Montserrat", system-ui;

    background: var(--color-background-gradient);
    background-attachment: fixed;
    color: var(--color-text);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    min-height: 100vh;
}

button,
input,
textarea,
select {
    font: inherit;
}

button {
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}