.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  text-align: center;
}

.title {
  margin: 0;

  font-family: "Allison", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(3rem, 6vw, 6rem);
}

.subtitle {
  margin: 0;

  font-size: 1.1rem;
  opacity: 0.8;
}

.button {
  font-family: 'octopus';
  padding: 1rem 3rem;

  border: none;
  border-radius: var(--radius-full);

  background: transparent;
  color: var(--color-text);

  cursor: pointer;

  transform: scale(1);

  transition:
    transform var(--transition-fast),
    background-color var(--transition-normal),
    box-shadow var(--transition-normal);
}

.button:hover {
  transform: scale(1.08);
  background: rgba(245, 245, 245, .164);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.308);
}

.button:active {
  transform: translateY(0);
}